body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    font-size: 12px;
    background-color: #f2f2f2; /* Серый цвет фона */
}

header {
    background-color: #f0f0f0;
    padding: 10px;
    text-align: center;
}

main {
	margin: 5px;
    background-color: #ffffff; /* Белый цвет фона для контейнера с формой */
    padding: 5px; /* Добавление внутреннего отступа для формы */
    border-radius: 8px; /* Закругление углов контейнера с формой */
}



label {
    margin-bottom: 5px;
}

input,
select {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    margin-bottom: 5px;
}

button {
    background-color: #4caf50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #45a049;
}

.choise{
	margin-bottom: 5px;
}

.number{
	display: flex;
	width: 100%;
	justify-content: center;
	margin-bottom: 15px;
}

.numberFact{
	width: 40%;
}

.GVC{
	width: 60%;
}


.GVC input{
	margin: 0px;
	margin-left: 5px;
	vertical-align: middle;
	width: 10%;
	height: 35px;
}

.paramContainer{
	padding: 0px;
	margin: 0px;
	display: flex;
	width: 100vw;
}

.paramObodGreb{
	width: 30vw;
	padding-right: 15px;
}

.paramForm{
	width: calc(65vw - 15px);
}


#bearingType{
	font-size: 10px;
}

#axisType{
	font-size: 10px;
}

.remont{
	padding: 0px;
	margin: 0px;
	display: flex;
	width: 100vw;

}

.paramRemont{
	width: 30vw;
	padding-right: 15px;
}

.paramRelevance{
	width: 55vw;
}

.kodType{
	width: calc(100vw - 41px);
}


/* Стили для кнопки загрузки файла */
.file-upload {
    display: block;
    width: calc(100vw - 41px);
    padding: 8px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.file-upload:hover {
    background-color: #2980b9;
}

/* Скрытие стандартного input для файла */
input[type="file"] {
    display: none;
}

/* Стили для области предпросмотра фотографии */
#preview {
    width: 100%;
    margin-top: 10px;
}

#preview img {
    max-width: 100%;
    height: auto;
}